* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: arial, sans-serif;
    height: 100%;
}

.main-div {
    margin-top: -19px;
}

a {
    text-decoration: none;
}

.floatRight {
    float: right;
    margin-right: 30px;
    margin-top: 47px;
}

.topNav {
    float: left;
}

.rounded {
    border-radius: 50%;
    background-color: coral;
    color: #fff;
    padding: 8px 13px !important;
    margin-right: 15px;
}

.round {
    border-radius: 30px;
    border: 1.2px solid #eee;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 670px;
}

.search-icon {
    color: #4285F4;
    position: absolute;
    top: 15px;
    left: 630px;
    z-index: 6;
}

.fa-microphone {
    color: #4285F4;
    position: absolute;
    top: 16px;
    left: 600px;
    z-index: 6;
}

input[value="Quadri Adisa"] {
    font-size: 17px;
}

.rightul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 12px;
}

ul li {
    list-style: none;
    text-decoration: none;
    padding: 12px;
}

.li-one {
    margin-top: 35px;
    margin-left: 20px;
}

.input-holder {
    position: absolute;
    top: 25px;
    left: 170px;
}

.menu-div {
    margin-left: 175px;
    padding-top: 100px;
}

.menu-div ul li {
    display: inline-block;
}

.menu-div small {
    color: grey;
}

.activehr {
    width: 57px;
    border-top: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    margin-top: 2px;
}

.fa-style {
    padding-right: 5px;
    color: grey;
    font-size: 10px;
}

.active-small {
    color: #2E75D7;
}

.settings {
    margin-left: 70px;
}

.tools {
    padding: 5px;
}

.tools:hover {
    border: 1px solid grey;
}

.hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.resultsdive {
    color: grey;
    font-size: 17px;
    margin-left: 185px;
    margin-top: 20px;
}

.profile-head {
    margin-left: 182px;
    margin-top: 15px;
}

.about {
    width: 60%;
    color: #3C4043;
    margin-top: 5px;
    line-height: 20px;
    display: block;
}

.linkedin {
    color: grey;
    margin-bottom: 10px;
    display: block;
}

.fa-chevron-right {
    font-size: 10px;
    color: grey;
}

.SEOview {
    color: #4351AC;
}

.SEOview p {
    font-size: 20px;
}

.SEOview:hover {
    text-decoration: underline;
}

.lastVisit {
    display: block;
    color: grey;
}

.quadri-images {
    margin-top: 30px;
    margin-left: 168px;
}

.quadri-images ul li {
    display: inline-block;
}

.quadri-images li img {
    border-radius: 5px;
}

.title {
    display: block;
    color: #4351AC;
    margin-left: 18px;
    font-size: 20px;
}

.title:hover {
    text-decoration: underline;
}

.more-images {
    margin-left: 162px;
}

.more-images .small {
    font-size: 15px;
}

.report {
    margin-left: 60%;
    margin-top: -20px;
}

.report a {
    color: grey;
}


/*

.component-one {
    position: absolute;
    top: 52%;
}

.component-two {
    position: absolute;
    top: 70%;
}

.component-three {
    position: absolute;
    top: 580px;
}

.component-four {
    position: absolute;
    top: 930px;
}

.component-five {
    position: absolute;
    top: 1035px;
}

.component-six {
    position: absolute;
    top: 1140px;
}

.component-seven {
    position: absolute;
    top: 1250px;
    margin-bottom: 20px;
    clear: both;
}

.logo-div {
    position: absolute;
    top: 1300px;
    left: 170px;
}

.logo-div {
    position: absolute;
    top: 1400px;
    left: 170px;
}

.footer {
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    top: 1300px;
    height: 100px;
    clear: both;
} */