* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: arial, sans-serif;
}

.main-div {
    margin-top: -19px;
}

a {
    text-decoration: none;
}

.floatRight {
    float: right;
    margin-right: 30px;
    margin-top: 47px;
}

.topNav {
    float: left;
}

.rounded {
    border-radius: 50%;
    background-color: coral;
    color: #fff;
    padding: 8px 13px !important;
    margin-right: 15px;
}

.round {
    border-radius: 30px;
    border: 1.2px solid #eee;
    padding: 15px 20px 15px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 670px;
}

.search-icon {
    color: #4285F4;
    position: absolute;
    top: 15px;
    left: 630px;
    z-index: 6;
}

.fa-microphone {
    color: #4285F4;
    position: absolute;
    top: 16px;
    left: 580px;
    z-index: 6;
}

input[value="Quadri Adisa"] {
    font-size: 17px;
}

.rightul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 12px;
}

ul li {
    list-style: none;
    text-decoration: none;
    padding: 12px;
}

.li-one {
    margin-top: 35px;
    margin-left: 20px;
}

.input-holder {
    position: absolute;
    top: 25px;
    left: 170px;
}

.menu-div {
    position: absolute;
    top: 90px;
    margin-left: 184px;
}

.menu-div ul li {
    display: inline-block;
}

.menu-div small {
    color: grey;
}

.activehr {
    width: 57px;
    border-top: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    margin-top: 2px;
}

.fa-style {
    padding-right: 5px;
    color: grey;
    font-size: 10px;
}

.active-small {
    color: blue;
}

.settings {
    margin-left: 70px;
}

.tools {
    padding: 5px;
}

.tools:hover {
    border: 1px solid grey;
}

.hr {
    width: 100%;
    position: absolute;
    top: 20%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.resultsdive {
    position: absolute;
    top: 25%;
    left: 14%;
    color: grey;
    font-size: 15px;
}

.profile-head {
    position: absolute;
    top: 32%;
    left: 14%;
}

.linkedin {
    color: grey;
    margin-bottom: 10px;
    display: block;
}

.fa-chevron-right {
    font-size: 10px;
    color: grey;
}

.SEOview {
    color: blue;
}

.SEOview p {
    font-size: 20px;
}

.SEOview:hover {
    text-decoration: underline;
}

.about {
    width: 60%;
    color: #3C4043;
    margin-top: 5px;
    line-height: 20px;
    display: block;
}

.lastVisit {
    display: block;
    color: grey;
}